[flake8]
max-line-length = 127
max-complexity = 15
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    build,
    dist,
    .eggs,
    *.egg-info,
    .tox,
    .mypy_cache
extend-ignore = E203, W503, E402, C901
per-file-ignores =
    __init__.py: F401
